fonts = 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Consolas', 'Monaco'
*
  padding 0 
  margin 0

body
  margin 0
  padding 0
  background-color red
  font-family fonts

input
  font-family fonts
  font-size 18pt
.bar
  left 300px
  position absolute
  z-index 500
